@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  /* Estilo Base dos Inputs */
  .input-field { 
    @apply w-full border border-slate-300 dark:border-slate-700 rounded-xl px-4 py-3 text-slate-700 dark:text-slate-200 bg-white dark:bg-slate-800 focus:ring-2 focus:ring-brand-green dark:focus:ring-brand-light outline-none transition-all placeholder:text-slate-400 dark:placeholder:text-slate-500; 
  }

  /* Estilo Base dos Labels */
  .label-title { 
    @apply block text-xs font-bold text-slate-500 dark:text-slate-400 uppercase mb-2 ml-1 tracking-wider; 
  }

  /* Estilização CORRIGIDA para Selects (Seta customizada) */
  select.input-field {
    @apply appearance-none pr-10 bg-no-repeat;
    /* Define posição e tamanho do ícone */
    background-position: right 1rem center;
    background-size: 1.25rem 1.25rem;
    /* Ícone Cinza Escuro (Modo Claro) */
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' fill='none' viewBox='0 0 20 20'%3e%3cpath stroke='%236b7280' stroke-linecap='round' stroke-linejoin='round' stroke-width='1.5' d='M6 8l4 4 4-4'/%3e%3c/svg%3e");
  }

  /* Ícone Cinza Claro (Modo Escuro) */
  .dark select.input-field {
     background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' fill='none' viewBox='0 0 20 20'%3e%3cpath stroke='%239ca3af' stroke-linecap='round' stroke-linejoin='round' stroke-width='1.5' d='M6 8l4 4 4-4'/%3e%3c/svg%3e");
  }
}

@layer base {
  body {
    @apply antialiased text-slate-900 bg-slate-50;
  }
  
  /* Estilos Base do Modo Escuro */
  .dark body {
    @apply bg-slate-950 text-slate-100;
  }

  /* Scrollbar Escura */
  .dark ::-webkit-scrollbar-track {
    @apply bg-slate-900;
  }
  .dark ::-webkit-scrollbar-thumb {
    @apply bg-slate-700 border-slate-900;
  }
}